We find week to week closes.

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

load_dotenv()

DB_URL = os.getenv('DB_URL')
psql = create_engine(DB_URL)

In [ ]:
daily_adjusted = pd.read_sql(
    """
    select * from adjusted_historical
    """,
    psql
)

daily_adjusted['date'] = pd.to_datetime(daily_adjusted['date'])
daily_adjusted = daily_adjusted.set_index('date')

In [18]:
weekly_adjusted = daily_adjusted.groupby('ticker', group_keys=False).resample('W-FRI').last().dropna().reset_index()

In [22]:
weekly_adjusted

             date  adj_close      high       low      open     volume ticker
0      2000-06-09    42.5249   43.6874   41.8499   41.8499  9270138.0      A
1      2000-06-16    37.5749   39.9374   37.1999   39.7124  6487699.0      A
2      2000-06-23    45.0749   46.4999   44.3249   44.3624  3969481.0      A
3      2000-06-30    44.2499   47.6999   44.1936   46.0124  8280214.0      A
4      2000-07-07    40.4999   42.2624   40.0499   41.9999  5992247.0      A
...           ...        ...       ...       ...       ...        ...    ...
569419 2025-06-20   156.6462  157.1744  154.4834  155.0515  3296100.0    ZTS
569420 2025-06-27   155.6495  156.8057  154.8821  155.8090  2987800.0    ZTS
569421 2025-07-04   158.6495  158.9385  157.0847  157.5233  1375200.0    ZTS
569422 2025-07-11   154.4436  157.1047  154.1944  156.7957  2267400.0    ZTS
569423 2025-07-18   148.6000  150.8500  147.5900  150.0000  4723200.0    ZTS

[569424 rows x 7 columns]

In [23]:
weekly_adjusted.to_sql(
    'adjusted_week_to_week',
    psql,
    if_exists='append',
    index=False
)

424